body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

#navBar {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     z-index: 2;
     user-select: none;
}

#navBar ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     height: 135px;
}

#navBar li {
  float: right;
}

 #navBar li a {
     display: block;
     color: white;
     text-align: center;
     padding: 30px 16px;
     text-decoration: none;
     text-align: center;
     font-size: 30px;
     font-family: 'Raleway', sans-serif;
     font-weight: bold;
     letter-spacing: 2px;
     transition: 0.7s;
     cursor: pointer;
}

#navBar li a h1 {
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.7s;
}

#navBar li a h2 {
  font-size: 25px;
  transition: 0.7s;
}

.secondLine {
  font-size: 12px;
}

#navBar li a h2:hover {
    font-size: 31px;
}

/* li a h1:hover:not(.active) {
    color: #90C695;
    font-size: 33px;
} */

/* .menuItem:hover {
  color: #90C695;
  font-size: 33px;
} */

 .active {
     background-color: #26A65B;
}

#navBar li:first-child {
    float: left;
    width: 320px;
    max-width: 320px;
}

#imgFront {
  background: url('../images/hero2.jpg');
  background-size: cover;
  -webkit-transition: background-image 0.3s ease-in-out;
transition: background-image 0.3s ease-in-out;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  transform: scale(1.1);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

#boxContainer {
  position: relative;
  margin: auto;
  width: 70%;
  top: 200px;
}

.warningHeader {
  overflow: overlay;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
  overflow: none;
}

.warningHeader h1 {
  font-size: 20px;
  padding: 20px;
}
.box {
  background-color: rgba(255,255,255,0.1);
  color: white;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 2px solid white;
  border-radius: 20px;
}

.box1 {
  overflow: overlay;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 20px;
  overflow: hidden;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
  overflow: none;
}

.box1 h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  word-break: normal;
}

.box1 h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
}

.box2 {
  margin: auto;
  background: none;
  box-shadow: none;
  border: none;
  display: flex;
  flex-wrap: wrap;
}

.buttonBox {
  background-color: rgba(255,255,255,0.1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 2px solid white;
  width: 400px;
  height: 380px;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 20px;
}

.buttonBox h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 35px;
  letter-spacing: 5px;
}

.buttonBox h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  padding-left: 10px;
  padding-right: 10px;
}

#getHelpButton {
  width: 70%;
  height: 100px;
  border-radius: 20px;
  font-size: 30px;
  font-weight: bold;
  color: white;
  outline: 0;
  background: #F64747;
  -webkit-animation: buttonAnim 2s ease infinite;
  -moz-animation: buttonAnim 2s ease infinite;
  animation: buttonAnim 2s ease infinite;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

#getHelpButton:hover, #faqButton:hover, #getStatsButton:hover {
  background: transparent;
  width: 75%;
  height: 120px;
}

#getHelpButton:hover {
  border: 3px solid #F64747;
}

#faqButton:hover {
  border: 3px solid #5ec9ca;
}

#getStatsButton:hover {
  border: 3px solid #663399;
}

#faqButton {
  width: 70%;
  height: 100px;
  border-radius: 20px;
  font-size: 30px;
  font-weight: bold;
  color: white;
  outline: 0;
  background: #5ec9ca;
  background-size: 800% 800%;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

#getStatsButton {
  width: 70%;
  height: 100px;
  border-radius: 20px;
  font-size: 30px;
  font-weight: bold;
  color: white;
  outline: 0;
  background: #663399;
  background-size: 800% 800%;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

#faqContainer {
  position: relative;
  margin: auto;
  width: 70%;
  top: 200px;
  display: none;
}

.fact {
  margin-bottom: 20px;
}
.accordion {
    background-color: white;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    transition: 0.4s;
    padding: 40px;
    border-radius: 20px;
}

.urgent.accordion {
  background-color: #F64747;
  color: white;
}

.urgent.accordion:hover {
  background-color: white;
  color: #F64747;
  padding: 50px;
}

.active, .accordion:hover {
    background-color: #5ec9ca;
    color: white;
    padding: 50px;
}

.panel {
    padding: 0 18px;
    background-color: white;
    overflow: hidden;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    max-height: 0;
    overflow: none;
    transition: max-height 0.3s ease-out;
    border-radius: 0px 0px 20px 20px;
}

.panel h1 {
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
}

.panel li {
  list-style-type: circle;
}

#contactContainer {
  position: relative;
  margin: auto;
  width: 99%;
  top: 200px;
  display: none;
}

.contactImg {
  width: 100%;
  height: 300px;
  background-image: url("../images/nami.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 20px 20px 0px 0px;
}

img {
  width: 100%;
  height: 100%;
  max-width:100%;
  max-height: 50%;
  pointer-events: none;
}

.contactBox {
  background-color: #F1A9A0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  width: 580px;
  height: 760px;
  margin: auto;
  margin-bottom: 20px;
  transition: 0.3s;
}

/* .contactBox:hover {
  width: 585px;
  height: 735px;
} */

.contactBox:first-child {
  background-color: #F64747;
}

.contactBox:nth-child(2) {
  background-color: #F2784B;
  height: 760px;
}

/* .contactBox:nth-child(2):hover {
  height: 735px;
} */

.contactBox:nth-child(3) {
  background-color: #F64747;
  height: 760px;
}

/* .contactBox:nth-child(3):hover {
  height: 735px;
} */



.contactBox h1 {
  text-align: center;
  font-size: 29px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
}

.contactBox h2 {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  padding-left: 10px;
  padding-right: 10px;
}

hr {
  width: 80%;
  height: 2px;
  background-color: white;
}

#careersContainer {
  position: relative;
  margin: auto;
  width: 80%;
  top: 200px;
  display: none;
}

.careerCard {
  background-color: #E26A6A;
  margin-bottom: 40px;
  border-radius: 20px 0px 0px 20px;
  display: flex;
  transition: 0.3s;
}

.careerImg {
  width: 33%;
  max-height: 900px;
  display: inline-block;
  background-image: url("../images/counselor.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 20px 0px 0px 20px;
}

.careerCard:nth-child(2) {
  background-color: #1F3A93;
}

.careerCard:nth-child(4) {
  border-radius: 0px 20px 20px 0px;
  background-color: #1F3A93;
}


.careerCard:nth-child(6) {
  border-radius: 0px 20px 20px 0px;
  background-color: #1F3A93;
}

.careerImg:nth-child(2) {
  border-radius: 0px 20px 20px 0px;
  background-image: url("../images/psycho.jpg");
}


.careerImg:nth-child(4) {
  border-radius: 0px 20px 20px 0px;
  background-image: url("../images/waipahu.jpg");
}

.jobDesc {
  width: 67%;
}
.jobDesc h1 {
  text-align: center;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: white;
  letter-spacing: 2px;
}

.jobDesc p {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}

#statsContainer {
  position: relative;
  margin: auto;
  width: 80%;
  top: 200px;
  display: none;
}
